html{
  height: 100%;
}

body {
    background-image: url("../img/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.card {

  background-color: rgba(218, 218, 218, 0.9);

}